.meter {
  height: 20px;  /* Can be anything */
  overflow: hidden;
  position: relative;
  background: #E8E8E8;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #666666;
}

.axis-results .axis-item {
  margin-bottom: 8px;
  position: relative;
}

.axis-results .axis-item-title {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  padding-right: 65px;
}

.axis-results .axis-item-value {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}